@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}


  
  /* ------------ Utility Classes --------------- */

  
    
    .max_container{
      max-width: 1450px;
      width: 100%;
      margin: auto;
    }

    .short_container_custom{
        max-width:1200px;
          width: 80%;
          margin: auto;
    }





  /* ############# Main Section ########### */

.container_custom{
    width: 100%;
    
}

/* ################# Navbar ################## */

.navbar{
    
}

.navbar_container_custom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 6rem 0 1rem 3rem;
    
}

.pink{
  color: crimson;
  font-size: 4rem;
}

.navbar_container_custom h1{
    font-size: 4rem;
    color: black;
    font-weight: 600;
}

.navbar_container_custom h1 a{
    color: black;
    text-decoration: none;
}

.navbar_container_custom ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar_container_custom ul a{
    text-decoration: none;
    font-size: 1.7rem;
    margin-right: 3rem;
    color: black;
    transition: color 0.2s ease-in-out;
    font-weight: 700;
}

.navbar_container_custom ul a:hover{
     color: #cd0e2d;
}


/* --------------- Responsive Navbar ---------------- */

#menuIcon{
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.menu-box{
    height: 0;
    width: 0;
    background: crimson;
    position: fixed;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 100%;
    transition: width 0.5s, height 0.5s border-radius 0.5s;
    z-index: 1000;
}

.menu-box.open-menu{
    height: 100vh;
    width: 100%;
    border-bottom-left-radius:0;
}

.menu-box.open-menu ul li{
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
}


.menu-box ul li{
    list-style: none;
    margin: 20px;
    align-items: center;

    opacity: 0;
    transform: translateY(30px);
}

.menu-box ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    transition: text-shadow 0.5s, transform 0.5s;
}

.menu-box ul li a:hover{
    text-shadow: -3px -3px 0 yellow;
    transform: translateY(-6px);
}

.menu-box ul li a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 19px;
    right: -18px;
    opacity: 0;
    box-shadow: 0 0 0 red;
    transition: box-shadow 0.5s;
}

.menu-box ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 red;

}


/* ###################################### */


.contacts{
    width: 100%;
}

.contacts_container{
    display: flex;
    max-width: 100%;
    margin-bottom: 3rem;
    
}



.side_bar{
    background: #cd0e2d;
    padding: 0 5rem;
    height: 650px;
    width: 100px;
    z-index: -20;
}

.main_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.top_part{  
    width: 100%;
    padding: 4rem 4rem 0rem 4rem;
}

.top_part a{
    font-size: 14px;
    color: #233b44;
    font-weight: 400;
    margin-bottom: 30px;
    text-decoration: none;
}

.top_part>a{

    border-right: 1px solid black;
    padding: 0 1rem;
}



.top_part a:nth-child(2){
    color: #cd0e2d;
    border: none;
}

.top_part a:nth-child(1):hover{
    color: #cd0e2d;
}

.top_part_container{
   display: grid;
  grid-template-columns: auto auto auto;
}



.page_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
}

.page_desc h1{
    font-size: 33px;
    color: #233b44;
    font-weight: 700;
    margin-bottom: 20px;
}

#projects_category{
    border: none;
    outline: none;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

#projects_category option{
    background-color: white;
}


#projects_category option:hover{
    background-color: blue;
}
.box{
    height: 350px;
    margin: 5px;
    position: relative;
    gap: 10px;
}

.box img{
    width: 100%;
    height: 100%;
}

.overlay{
position: absolute;
width: 100%;
height: 100%;
top: 0;
}



.overlay p{
    color:white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    left: 35px;
    padding: 4px 6px;

}

.overlay:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2));
}




/* ############### Footer ############## */


.footer_container{
    background-color: #233b44;
    padding: 6rem 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  
  .copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .copyright h1{
    font-size: 5rem;
    margin-top: 5rem 0;
  }
  
  .copyright h2{
    margin-right: 1rem;
    border-right: 2px solid white;
    padding-right: 1rem;
    font-weight: 300;
    font-size: 1.8rem;
  }
  
  .copyright h2:nth-child(2) a,.copyright h2:nth-child(3) a {
    cursor: pointer;
    text-decoration: none;
    color: #eae4e4;
    transition: color 0.3s ease-in-out;
  }
  
  .copyright h2:nth-child(2) a:hover,.copyright h2:nth-child(3) a:hover{
    color: #cd0e2d;
  }
  


  /* ################# Responsive ################### */
  
    @media screen and (max-width: 940px) {
        .side_bar{        
            padding: 0 3rem; 
            width: 75px;      
        }
  }

  @media screen and (max-width: 850px) {
    .side_bar{        
        padding: 0 1.5rem;  
        width: 50px;     
    }

    .top_part_container{
       grid-template-columns: 1fr 1fr;
       gap: 10px;
     }
}

@media screen and (max-width: 650px) {
    .side_bar{        
        padding: 0 0.5rem;
        width: 25px;     
    }
}

@media screen and (max-width: 650px) {
    .side_bar{        
        padding: 0;
        width:0;     
    }

    .top_part_container{
        grid-template-columns: 1fr;
        gap: 10px;
      }

      .box{
        height: 350px;
        margin: 0;
        position: relative;
        gap: 5px;
    }

    .page_desc{
        flex-direction: column;
    }

    .page_desc h1{
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 420px){  

    .navbar_container_custom h1{
      font-size: 2rem;
  }
  
  }










